---
import { Icon } from 'astro-icon/components';
import Link from '../components/Link.astro';
---

<footer
  id='contact'
  class='w-full p-4 bg-gray-50 dark:bg-lighter-dark-bg'
  role='contentinfo'
>
  <div class='max-w-layout mx-auto'>
    <p
      class='flex justify-between items-center text-gray-600 dark:text-gray-400'
    >
      &copy; {new Date().getFullYear()} Jiho Kim
      <Link href='/privacy-policy' isExternal={false}>Privacy Policy</Link>
    </p>
  </div>
</footer>
