---
import Link from '../components/Link.astro';
---

<!-- The following code was adapted from https://github.com/jonnysmillie/astro-base/blob/4235669147f9ccff446d9238abc62c04aef63638/src/components/Footer.astro -->
<footer
  id='contact'
  class='w-full p-4 bg-gray-50 dark:bg-lighter-dark-bg'
  role='contentinfo'
>
  <div class='max-w-3xl mx-auto'>
    <div class='text-center text-gray-600 dark:text-gray-400'>
      <p>
        &copy; {new Date().getFullYear()} Jiho Kim. All rights reserved.
      </p>
    </div>
  </div>
</footer>
