/* .navbar-container {
    height: 25px;
} */

.link {
  text-decoration: none;
  transition: 0.3s;
}

.paper-metadata-link {
  text-decoration: none;
  transition: 0.3s;
  color: inherit;
}

.paper-metadata-link:hover {
  color: grey;
}

.paper-container {
  display: flex;
  margin-top: 25px;
}

.paper-container .paper-thumbnail {
  margin-right: 25px;
}

.paper-container .paper-thumbnail img {
  max-width: 130px;
}

.paper-container .paper-metadata {
  font-size: 14px;
}

.paper-container .paper-metadata p {
  margin-bottom: 0.5em;
}
