---
import type { CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, pubDate, author } = Astro.props;

const metadata = {
  title: title,
  useTitleTemplate: true,
};

const formattedDate = new Intl.DateTimeFormat('en-US', {
  year: 'numeric',
  month: 'short',
  day: 'numeric',
  timeZone: 'UTC',
}).format(pubDate);
---

<Layout metadata={metadata}>
  <h1>{title}</h1>
  <p>By {author} on {formattedDate}</p>
  <slot />
</Layout>
