---
import '../styles/global.css';
import { SEO } from 'astro-seo';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Prose from '../components/Prose.astro';
import { SITE_CONFIG } from '../config';

interface Props {
  metadata?: {
    title?: string;
    useTitleTemplate?: boolean;
    description?: string;
  };
}

const { metadata } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <!-- Common metadata -->
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />

    <!-- Favicon -->
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='icon' type='image/png' href='/favicon-96x96.png' sizes='96x96' />
    <link rel='shortcut icon' href='/favicon.ico' />
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <meta name='apple-mobile-web-app-title' content='Jiho Kim' />
    <link rel='manifest' href='/site.webmanifest' />

    <!-- Dark/light mode -->
    <script>
      const theme = (() => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();

      if (theme === 'dark') {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>

    <!-- Umami -->
    {
      import.meta.env.PROD && (
        <script
          is:inline
          defer
          src='https://cloud.umami.is/script.js'
          data-website-id='83ed76ba-431f-457e-bff9-f9a30e560544'
        />
      )
    }

    <!-- SEO -->
    <SEO
      title={metadata?.title || SITE_CONFIG.title}
      titleTemplate={metadata?.useTitleTemplate
        ? `%s - ${SITE_CONFIG.title}`
        : undefined}
      description={metadata?.description || SITE_CONFIG.description}
      openGraph={{
        basic: {
          title: SITE_CONFIG.title,
          type: 'website',
          image: SITE_CONFIG.ogImage,
          url: SITE_CONFIG.siteUrl,
        },
      }}
    />
  </head>
  <body class='min-h-screen flex flex-col pt-16 bg-white dark:bg-dark-bg'>
    <Header title={metadata?.title} />
    <main class='flex-1 my-12'>
      <div class='max-w-3xl mx-auto px-4 md:px-0'>
        <Prose>
          <slot />
        </Prose>
      </div>
    </main>
    <Footer />
  </body>
</html>
